//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keys_fr.h"

/ {
    macros {
        accent_fr: accent_fr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "ACCENT_FR";
        };

        accent_1: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(U) &kp PLUS &kp N0 &kp N0 &kp LS(E) &kp N9>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                  &kp Q  &kp W  &kp E         &kp R      &kp T               &kp Y      &kp U          &kp I       &kp O      &kp P
                  &kp A  &kp S  &kp D         &kp F      &kp G               &kp H      &kp J          &kp K       &kp L      &kp SLASH
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C         &kp V      &kp B               &kp N      &kp M          &kp PERIOD  &kp COMMA  &kp LS(CAPSLOCK)  &kp LEFT_ALT
                                &lt 2 ESCAPE  &lt 1 TAB  &kp LG(LEFT_WIN)    &kp SPACE  &kp BACKSPACE  &kp ENTER
            >;
        };

        nav_num {
            bindings = <
               &kp PLUS       &kp BACKSPACE  &kp UP    &kp DOLLAR     &kp PRCNT          &kp N5                  &kp N6             &kp N7          &kp N8    &kp N9
               &kp EQUAL      &kp LEFT       &kp DOWN  &kp RIGHT      &kp PRINTSCREEN    &kp N0                  &kp N1             &kp N2          &kp N3    &kp N4
&kp LS(LC(C))  &kp LS(LC(V))  &kp BACKSLASH  &kp HASH  &kp AMPERSAND  &kp AT             &kp SQT                 &kp DOUBLE_QUOTES  &kp MINUS       &kp STAR  &kp FSLH  &kp PIPE
                                             &trans    &trans         &trans             &mt LEFT_ALT SEMICOLON  &kp COLON          &kp UNDERSCORE
            >;
        };

        sym_func {
            bindings = <
        &trans  &trans  &trans  &kp EXCLAMATION   &kp QUESTION      &bt BT_SEL 1      &bt BT_SEL 2          &bt BT_SEL 3           &kp F12           &kp F5
        &trans  &trans  &trans  &kp GRAVE         &kp TILDE         &kp LESS_THAN     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp QUESTION      &kp EXCLAMATION
&tog 3  &trans  &trans  &trans  &kp GREATER_THAN  &kp UNDERSCORE    &kp GREATER_THAN  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp FR_BACKSLASH  &kp F15          &bt BT_CLR_ALL
                        &trans  &trans            &trans            &kp LEFT_BRACE    &kp RIGHT_BRACE       &kp QUESTION
            >;
        };

        device {
            bindings = <
         &kp N1          &kp Q  &kp W         &kp E      &kp FR_R            &kp Y       &kp I            &kp O              &kp O  &kp P
         &kp LEFT_SHIFT  &kp A  &kp S         &kp D      &kp F               &kp FR_H    &kp J            &kp K              &kp L  &kp FSLH
&kp ESC  &kp N2          &kp X  &kp C         &kp V      &kp B               &kp N       &kp M            &kp DOT            &none  &none     &to 0
                                &kp NUMBER_3  &kp SPACE  &kp LEFT_CONTROL    &kp K_MUTE  &kp C_VOLUME_UP  &kp C_VOLUME_DOWN
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
